
<div class="large-4 columns panel text-center" data-equalizer-watch>

  <%= club.name %>
  <%= link_to 'Show', club %>
  <%= image_tag club.club_image.url %>

  
  </div>
  <% if current_user == club.user %>
  <li><%= link_to 'Edit', edit_club_path(club) %></li>
  <li><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>

