<div class="row">
<div class="image">
  <div class="large-12 columns">
    <img id="cover-image" src="http://www.residentadvisor.net/photos/2012/es120528circol/dc_7.jpg"><br><br>
  </div>
  <h1>YOUR FAVOURITE CLUBS</h1>
</div>
  </div>



<p id="notice"><%= notice %></p>
<div class="search">
  <%= search_form_for @q do |f| %>
  <%= f.text_field :name_cont, :placeholder => "Search" %>
  <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>

<h1>Listing Clubs</h1>

<div class="row" data-equalizer>
 <% @clubs.each do |club| %>
  <div class="large-4 columns panel text-center" data-equalizer-watch>

  <%= image_tag(club.club_image.thumb) %>
    <%= club.name %>
    <%= link_to 'Show', club %>

    </div>
    <% if current_user == club.user %>
    <li><%= link_to 'Edit', edit_club_path(club) %></li>
    <li><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
 <% end %>

 </div>





<br>

<%= link_to 'New Club', new_club_path %>
