<div class="row">
<div class="image">
  <div class="large-12 columns">
    <img id="cover-image" src="http://www.residentadvisor.net/photos/2012/es120528circol/dc_7.jpg"><br><br>
  </div>
  <h1></h1>
</div>
  </div>

  <h1>DON'T KNOW WHERE TO GO TONIGHT?</h1>

<p id="notice"><%= notice %></p>
<div class="search">
  <%= search_form_for @q do |f| %>
  <%= f.text_field :name_cont, :placeholder => "SEARCH OUR DATABASE OF CLUBS" %>
  <button id="home_buttons" type="submit">Search</button></div>
  <% end %>

</div>


<div class="row" data-equalizer>
 <% @clubs.each do |club| %>
  <div class="large-4 columns panel text-center" data-equalizer-watch>

  <%= image_tag(club.club_image.thumb) %>
    <%= link_to club.name, club %>

    </div>
    <% if current_user == club.user %>
    <li><%= link_to 'Edit', edit_club_path(club) %></li>
    <li><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
 <% end %>

 </div>





<br>

<%= link_to 'New Club', new_club_path %>
