<div class="row">
<div class="image">
  <div class="large-12 columns">
    <img id="cover-image" src="http://www.residentadvisor.net/photos/2012/es120528circol/dc_7.jpg"><br><br>
  </div>
  <img class="ibiza" src="http://devweb99.com/ibiza/wp-content/uploads/2015/04/home-logo.png">
</div>
  </div>



<p id="notice"><%= notice %></p>
<div class="search">
  <%= search_form_for @q do |f| %>
  <%= f.text_field :name_cont, :placeholder => "Search" %>
  <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>

<h1>Listing Clubs</h1>

<ul class="club-list-titles">
  <li>Name</li>
  <li>Location</li>
  <li>Description</li>
  <li>Image</li>
  <li colspan="3"></li>
</ul>

<div class="row" data-equalizer>
 <%= render @clubs %>
 </div>


<br>

<%= link_to 'New Club', new_club_path %>
