<div class="row">
<div class="image">
  <div class="large-12 columns text-center">
    <%= image_tag @club.club_image.url class:"logo"%><br>
  </div>
</div>
  </div>




<p id="notice"><%= notice %></p>


  <h2><%= @club.name %></h2>

<p>
  <strong>Location:</strong>
  <%= @club.location %>
</p>

<p>
 
  <%= @club.description %>
</p>

<p>
   
 </p>


<ul>
 <%= render @club.events %>
</ul>





<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
