<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @club.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
   <b>Image:</b>
   <%= image_tag @club.club_image.url class:"logo"%>
 </p>

<strong>Events:</strong>
<ul>
 <%= render @club.events %>
</ul>

<div class="row">
 <div class="large-12 columns">
   <div class="row">
    
    
    
     <div class="large-3 small-6 columns">
       <img src="http://placehold.it/250x250&text=Thumbnail"/>
       <h6 class="panel">Description</h6>
     </div>
     
     <div class="large-3 small-6 columns">
       <img src="http://placehold.it/250x250&text=Thumbnail"/>
       <h6 class="panel">Description</h6>
     </div>
     
     <div class="large-3 small-6 columns">
       <img src="http://placehold.it/250x250&text=Thumbnail"/>
       <h6 class="panel">Description</h6>
     </div>
     
     <div class="large-3 small-6 columns">
       <img src="http://placehold.it/250x250&text=Thumbnail"/>
       <h6 class="panel">Description</h6>
     </div>
     
     
     
   </div>
 </div>
</div>





<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
