<p id="notice"><%= notice %></p>


  <h2><%= @club.name %></h2>

<p>
  <strong>Location:</strong>
  <%= @club.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
   <b>Image:</b>
   <%= image_tag @club.club_image.url class:"logo"%>
 </p>

<strong>Events:</strong>
<ul>
 <%= render @club.events %>
</ul>





<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
