<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :username %><br>
  <%= f.text_field :username %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div class="field">
<%= f.label :password %>
<%= f.password_field :password %>
</div>
<div class="field">
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
</div>
<div class="field">
  <%= f.label :bio %><br>
  <%= f.text_area :bio %>
</div>
<div class="field">
   <%= f.label :user_image %><br />
   <%= f.file_field :user_image %>
 </div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<div class="row">

   
  <div class="large-9 columns">

    <h3>Get in Touch!</h3>
    <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>

    <div class="section-container tabs" data-section>
      <section class="section">
        <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
        <div class="content" data-slug="panel1">
          <form>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline">Your Name</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourName" placeholder="Jane Smith">
              </div>
            </div>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline"> Your Email</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourEmail" placeholder="jane@smithco.com">
              </div>
            </div>
            <label>What's up?</label>
            <textarea rows="4"></textarea>
            <button type="submit" class="radius button">Submit</button>
          </form>
        </div>
      </section>
      <section class="section">
        <h5 class="title"><a href="#panel2">Specific Person</a></h5>
        <div class="content" data-slug="panel2">

        </div>
      </section>
    </div>
  </div>

   

