<div class="large-4 columns panel text-center" data-equalizer-watch>
<%=link_to image_tag(event.event_image.thumb.url), event.event_image.url %>
 <h4> <%= event.name %></h4>
  <p><%= event.date %></p>
  <%= link_to 'Show', event %>
  <%= link_to 'Edit', edit_event_path(event) %>
  </div>

  <% if current_user == event.user %>
  <li><%= link_to 'Edit', edit_event_path(event) %></li>
  <li><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>

