<ul>
  <li><%= event.name %></li>
  <li><%= event.date %></li>
  <li><%= link_to 'Show', event %></li>
  </ul>

  <% if current_user == event.user %>
  <li><%= link_to 'Edit', edit_event_path(event) %></li>
  <li><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>

