<div class="row">
  <div class="large-12 columns">
    <img id="cover-image" src="http://www.essentialibiza.com/ecms/wp-content/uploads/2013/07/Pukka-Up.jpg"><br><br>
  </div>
</div>


<h1>Listing Events</h1>
<div class="search">
  <%= search_form_for @q do |f| %>
  <%= f.text_field :name_cont, :placeholder => "Search" %>
  <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</div>


<ul class="club-list-titles">
  <li>Name</li>
  <li>Date</li>
  <li>Ticketlink</li>
  <li colspan="3"></li>
</ul>


<div class="row" data-equalizer>
 <%= render @events %>
</div>



<br>

<% @events.each do |event| %>
<% end %>



<%= link_to 'New Event', new_event_path %>
