<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= image_tag @event.event_image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Buy Tickets:</strong>
  <%= @event.ticketlink %>
</p>

<p>
  <strong>Venue:</strong>
 <%= link_to @event.club.try(:name), @event.club %>
</p>

<%= link_to "Attending", like_event_path(@event), method: :put %> 


<%= @event.score %>




<%= link_to 'Back', events_path %>
