<div class="row">
<div class="image">
  <div class="large-12 columns text-center">
    <%= image_tag @event.event_image.detail %><br>
  </div>
</div>
  </div>

<p>
  
  
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Buy Tickets Here:</strong>
  <%= @event.ticketlink %>
</p>

<p>
  <strong>Venue:</strong>
 <%= link_to @event.club.try(:name), @event.club %>
</p>

<%= link_to "Attending?", like_event_path(@event), method: :put %> 


<%= @event.score %>




<%= link_to 'Back', events_path %>
